.form__container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px 40px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  > .form__header {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  > .form__footer {
    > .footer__title {
      font-size: 16px;
      text-align: center;
      margin-top: 30px;
      display: flex;
      align-items: baseline;
      justify-content: center ;

      > a {
        display: block;
        margin-left: 10px;
      }
    }
  }
}
