.form__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 500px;
  height: fit-content;
  margin: auto;
  padding: 50px 40px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  > .form__header {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  > .form__footer {
    > .footer__title {
      font-size: 16px;
      text-align: center;
      margin-top: 30px;
      display: flex;
      align-items: baseline;
      justify-content: center;

      > a {
        display: block;
        margin-left: 10px;
      }
    }
  }
}
