@import '@/shared/colors.scss';

.date__wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .date__label {
    width: fit-content;
    padding: 5px 20px;
    border: 1px solid #9a9a9a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: auto;
  }
}

.date__range {
  position: absolute;
  top: 36px;
  border-radius: 8px;
  z-index: 999;
}
