@import '@/shared/colors.scss';

.content__wrapper {
  display: flex;
  gap: 25px;
  width: 100%;

  > .content {
    width: 100%;
    min-height: calc(100vh - 115px);
    height: 100%;
    background-color: $main-background;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: all 1s ease-in;
  }
}
