@import '@/shared/colors.scss';

.content {
  width: 80%;
  min-height: calc(100vh - 115px);
  height: 100%;
  margin-left: 20%;
  padding-top: 5px;
  border: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: $main-background;
  transition: all 0.2s ease-in;

  &.fullwidth {
    margin-left: 0;
    width: 100%;
  }
}
