@import '@/shared/colors.scss';

.otpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .otpInput {
    width: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
    font-size: 30px;
    width: 75px;
    height: 80px;
    text-align: center;
    font-weight: 300;
    transition: all 0.1s ease-in;

    &:focus {
      border: 1px solid blue !important;
    }

    &:not(:focus) {
      background: $grey-200;
    }

    &[class$='filled'] {
      border: 3px solid green;

      &:not(:focus) {
        background: rgba(255, 255, 255, 0.6);
      }
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
  }
}
