@import '@/shared/colors.scss';

.otpContainer {
  display: flex;
  // border: 1px solid black;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 30px;

  & .otpInput {
    background-color: $pure-white;
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
    font-size: 30px;
    width: 75px !important;
    height: 80px;
    text-align: center;
    font-weight: 300;
    transition: all 0.1s ease-in;

    &:focus {
      background: $pure-white;
    }

    &:not(:focus) {
      background: $grey-200;
    }

    &:valid {
      border: 2px solid $primary-200;

      &:not(:focus) {
        background: rgba(255, 255, 255, 0.6);
      }
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
  }
}
