.content__header {
  width: 95%;
  margin: 30px auto;

  > .header__wrapper {
    display: flex;
    justify-content: space-between;
    > h1 {
      font-size: 50px;
    }

    > .filter__slot {
      align-self: flex-end;
    }
  }
}
