$--xs-viewport: (
  max-width: 599px,
);
$--s-viewport: (
  max-width: 767px,
);
$--m-viewport: (
  max-width: 1023px,
);
$--l-viewport: (
  max-width: 1439px,
);
$--xl-viewport: (
  max-width: 1919px,
);
