@import '@/shared/colors.scss';

.sidebar {
  position: relative;
  width: 18%;
  min-height: calc(100vh - 115px);
  height: 100%;
  // border: 1px solid red;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &.closed {
    left: -100%;

    width: 0;
  }

  > .menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 15%;
    top: 40px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    color: $secondary-main !important;
    padding: 5px !important;
    border-radius: 8px !important;
    background-color: $secondary-200 !important;

    &:hover {
      background-color: darken($secondary-200, 3%) !important;
    }
  }
}
